*, *::before, *::after{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right , #00AAFF,#00FF6C); /*USE FOR DOUBLE COLOr */
    
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
}

button{
    font-size: 25;
    border-width: 5px;
    border-color: rgb(41, 29, 29);
}

.calculator-grid > button{
    cursor: pointer; /* use for to click button */
    outline: none;
    background-color: white;
}

.calculator-grid > button:hover{  /*when pointer on button effect*/
    background-color: rgb(229, 208, 208);
}

.span-two{
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgb(60, 47, 47);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;

}

.output .previous-operand{
    color: rgb(235, 230, 230);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
} 